# LLM
GROQ_API_KEY=
OPENAI_API_KEY=
COHERE_API_KEY=

# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333

# Elasticsearch
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_PASSWORD=

# Langfuse
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=localhost
LANGFUSE_PORT=3000

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# App
APP_ENV=development